.navLogo {
    width: 150px !important;
}

.navTitle {
    font-size: 30px;
}

.navRow {
    width:100% !important;
    display: flex;
    align-items: center;
}

.navBtn {
    font-size: 20px !important;
    background-color: #D7D2CE !important;
    color: black !important;
    border-style: none !important;
    border-radius: 0% !important;
    padding: 0 2rem !important;
}

.navGroup {
    margin-left:auto;
}

.btnBorder {
    border-left: 2px solid black !important;
    border-right: 2px solid black !important;
}

.logoutModal {
    background-color: #D7D2CE !important;
    border: #D7D2CE !important;
}

.logoutModalFooter {
    background-color: #D7D2CE !important;
    border: #D7D2CE !important;
    display: flex;
    justify-content: center !important;
    justify-content: space-evenly !important;
}

.logoutModalTxt {
    font-family: Comfortaa;
    background-color: #D7D2CE !important;
    font-size: 25px;
    text-align: center;
}

.cancelModalBtn {
    background-color: #857b74 !important;
    font-family: Comfortaa !important;
}

.logoutModalBtn {
    font-family: Comfortaa !important;
    background-color: #b83131 !important;
    border: none !important;
}

@media screen and (max-width: 1023px) {
    .logo {
        display: none !important;
    }

    .navRow {
        display: none !important;
    }

    .navTitle {
        display: none !important;
    }

    .navLogo {
        display: none !important;
    }
}