.signUpInput {
    font-size: 20px;
    margin: 32px 0 0px -12rem;
    font-weight: bold;
}

.signUpInputPassword {
    font-size: 20px;
    margin: 32px 0 0px -12.5rem;
    font-weight: bold;
}

.inputField {
    margin: 0px;
    height: 50px;
    padding: 0px;
}

.email {
    font-size: 20px;
    margin: 32px 0 0px -15rem;
    font-weight: bold;
}

.signUpBtn {
    width: 250px;
    height: 45px;
    background-color: #D7D2CE;
    font-weight: 800;
    font-size: 18px;
    margin-top: 50px !important;
    margin-bottom: 1rem !important;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.toast {
    position: fixed;
    top: 50%;
    z-index: 1000;
    color: red;
    background-color: #d7d2ce !important;
    border: 2px solid black;
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.5);
}

.centerInput {
    display: flex;
    justify-content: center;
}

.signUpTxt {
    margin-top: -1rem;
}

.signUpTxt1 {
    margin-top: 5px;
} 

.signInBgCol {
    padding: 0px !important;
}

@media screen and (min-width: 1024px) {
    .signUpInput {
        margin-left: -24.5rem;
    }

    .email {
        margin-left: -27.5rem;
    }

    .signUpBtn {
        width: 500px;
        height: 70px;
        font-size: 30px;
    }

    .toast {
        display: flex;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 750px !important;
        font-size: 30px;
    }

    .signUpInputPassword {
        margin-left: -25rem !important;
    }
}